@page
@model KostKompas.Pages.User.GetAllUsersModel
@{
}
<h1>Bruger</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Navn</th>
            <th>Email</th>
            <th>Kodeord</th>
        </tr>
    </thead>
    <tbody>

        @foreach (Models.User user in Model.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.Password</td>
                <td>
                    <a class="btn btn-primary btn-sm" type="button" data-toggle="tooltip" title="Edit" asp-page="EditUser" asp-route-id="@user.Id"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-danger btn-sm " type="button" data-toggle="tooltip" data-placement="top" title="Delete" asp-page="DeleteUser" asp-route-id="@user.Id"><i class="fa fa-trash"></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a class="btn btn-primary" asp-page="/User/CreateUser"> Opret Bruger </a>
</p>