@page
@model KostKompas.Pages.FoodLog.GetFoodLogDayModel
@{
}

<table>
    <tr>
        <th>Energifordeling</th>
    </tr>
    <tr>
        <td>Energi:</td>
        <td>@Model.FoodLogDay.TotalKcal.ToString("0.0") kcal</td>
    </tr>
    <tr>
        <td>Fedt</td>
        <td>@Model.FoodLogDay.TotalFat.ToString("0.0") g</td>
    </tr>
    <tr>
        <td>Kulhydrat</td>
        <td>@Model.FoodLogDay.TotalCarbohydrate.ToString("0.0") g</td>
    </tr>
    <tr>
        <td>Kostfibre</td>
        <td>@Model.FoodLogDay.TotalFibre.ToString("0.0") g</td>
    </tr>
    <tr>
        <td>Protein</td>
        <td>@Model.FoodLogDay.TotalProtein.ToString("0.0") g</td>
    </tr>
</table>
<div class="accordion" id="MealsAccordion">
    @foreach (Models.Meal m in Model.FoodLogDay.Meals)
    {
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#@("collapse_"+m.Id)" aria-expanded="true" aria-controls="@("collapse_"+m.Id)">
                    @m.Name
                </button>
            </h2>
            <div id="@("collapse_" + m.Id)" class="accordion-collapse collapse" data-bs-parent="#MealsAccordion">
                <div class="accordion-body">
                    <table class="table table-bordered table-hover table-striped table-opacity" width="60%">
                        <tr>
                            <th>Fødevare</th>
                            <th>Vægt</th>
                            <th>Energi</th>
                            <th>Fedt</th>
                            <th>Kulhydrat</th>
                            <th>Kostfibre</th>
                            <th>Protein</th>
                        </tr>
                        @foreach(Models.Food f in m.Foods)
                        {
                            <tr>
                                <td>@f.Name.</td>
                                <td>@f.WeightInGrams.ToString("0.0")</td>
                                <td>@f.Kcal.ToString("0.0")</td>
                                <td>@f.Fat.ToString("0.0")</td>
                                <td>@f.Carbohydrate.ToString("0.0")</td>
                                <td>@f.Fibre.ToString("0.0")</td>
                                <td>@f.Protein.ToString("0.0")</td>
                            </tr>
                        }
                    </table>
                    <p>
                        <a class="btn btn-primary" asp-page="/FoodLog/LogFood" asp-route-id="@Model.FoodLogDay.Id" asp-route-name="@m.Name"> Tilføj Fødevare </a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>

    