@page
@model KostKompas.Pages.FoodLog.GetFoodLogDayModel
@{
}

<table>
    <tr>
        <th>Energifordeling</th>
    </tr>
    <tr>
        <td>Energi:</td>
        <td>@Model.FoodLogDay.TotalKcal.ToString("0.0") kcal</td>
    </tr>
    <tr>
        <td>Fedt</td>
        <td>@Model.FoodLogDay.TotalFat.ToString("0.0") g</td>
    </tr>
    <tr>
        <td>Kulhydrat</td>
        <td>@Model.FoodLogDay.TotalCarbohydrate.ToString("0.0") g</td>
    </tr>
    <tr>
        <td>Kostfibre</td>
        <td>@Model.FoodLogDay.TotalFibre.ToString("0.0") g</td>
    </tr>
    <tr>
        <td>Protein</td>
        <td>@Model.FoodLogDay.TotalProtein.ToString("0.0") g</td>
    </tr>
</table>
<div class="accordion" id="MealsAccordion">
    @foreach (Models.Meal m in Model.FoodLogDay.Meals)
    {
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#@("collapse_"+m.Id)" aria-expanded="true" aria-controls="@("collapse_"+m.Id)">
                    @m.Name
                </button>
            </h2>
            <div id="@("collapse_" + m.Id)" class="accordion-collapse collapse" data-bs-parent="#MealsAccordion">
                <div class="accordion-body">
                    <table class="table table-bordered table-hover table-striped table-opacity" width="60%">
                        <tr>
                            <th>Fødevare</th>
                            <th>Vægt</th>
                            <th>Energi</th>
                            <th>Fedt</th>
                            <th>Kulhydrat</th>
                            <th>Kostfibre</th>
                            <th>Protein</th>
                        </tr>
                        @foreach(Models.FoodMeal fm in m.FoodMeals)
                        {
                            <tr>
                                <td>@fm.Food.Name</td>
                                <td>@fm.WeightInGrams.ToString("0.0")</td>
                                <td>@fm.Food.Kcal.ToString("0.0")</td>
                                <td>@fm.Food.Fat.ToString("0.0")</td>
                                <td>@fm.Food.Carbohydrate.ToString("0.0")</td>
                                <td>@fm.Food.Fibre.ToString("0.0")</td>
                                <td>@fm.Food.Protein.ToString("0.0")</td>
                            </tr>
                        }
                    </table>
                    <p>
                        <a class="btn btn-primary" asp-page="/FoodLog/LogFood" asp-route-id="@Model.FoodLogDay.Id" asp-route-name="@m.Name"> Tilføj Fødevare </a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>
@* 
<table class="table table-bordered table-hover table-striped table-opacity" width="60%">
  
    <tr>
        <td>Morgenmad</td>
        <td> <a href="/FoodLog/LogFood" class="btn btn-success">Tilføj</a></td>

       
    </tr>

    <tr>
        <td>Formiddag</td>
        <td> <a href="/FoodLog/LogFood" class="btn btn-success">Tilføj</a></td>

    
    </tr>

    <tr>
        <td>Frokost</td>
        <td> <a href="/FoodLog/LogFood" class="btn btn-success">Tilføj</a></td>

       
    </tr>

    <tr>
        <td>Eftermiddag</td>
        <td> <a href="/FoodLog/LogFood" class="btn btn-success">Tilføj</a></td>

        
    </tr>

    <tr>
        <td>Aftensmad</td>
        <td> <a href="/FoodLog/LogFood" class="btn btn-success">Tilføj</a></td>

       
    </tr>

    <tr>
        <td>Sen aften</td> 
        <td> <a href="/FoodLog/LogFood" class="btn btn-success">Tilføj</a></td>
        <a asp-page="/FoodLog/LogFood" asp-route-mealName="Mogenmad" class="btn btn-success">Tilføj</a>
        <a asp-page="/FoodLog/LogFood" asp-route-mealName="Formiddag" class="btn btn-success">Tilføj</a>
        <a asp-page="/FoodLog/LogFood" asp-route-mealName="Frokost" class="btn btn-success">Tilføj</a>
        <a asp-page="/FoodLog/LogFood" asp-route-mealName="Eftermiddag" class="btn btn-success">Tilføj</a>
        <a asp-page="/FoodLog/LogFood" asp-route-mealName="Aftensmad" class="btn btn-success">Tilføj</a>
        <a asp-page="/FoodLog/LogFood" asp-route-mealName="Sen aften" class="btn btn-success">Tilføj</a>
       

    </tr>

</table>
 *@